

.container{
    cursor: pointer;
    display: inline-block;
}
.container div{
    background-color: black;
    width: 35px;
    height: 5px;
    margin-top: 5px;
    transition: 0.5s;
}
.change .bar1{
    transform: rotate(-45deg) translate(-6px,8px);
}
.change .bar2{
    opacity: 0;

}
.change .bar3{
    transform: rotate(45deg) translate(-6px, -8px);
}